<footer>
  <div class="footerLinkList">
    <span>Comunidad</span>
    <a [href]=instagramPageUrl rel="noopener noreferrer" target="_blank">
      <img [src]=instagramLogoUrl alt="instagram">
      Instagram
    </a>
    <a [href]=facebookPageUrl rel="noopener noreferrer" target="_blank">
      <img [src]=facebookLogoUrl alt="facebook">
      Facebook
    </a>
    <a [href]=twitterPageUrl rel="noopener noreferrer" target="_blank">
      <img [src]=twitterLogoUrl alt="twitter">
      Twitter
    </a>
  </div>
  <div class="footerLinkList">
    <span>Contacto</span>
    <a href="">Centro de soporte</a>
    <a href="Contact.html" rel="noopener noreferrer" target="_parent">Contacto</a>
    <a href="">Publicidad</a>
  </div>

  <div class="footerLinkList">
    <span>Quienes somos</span>
    <a href="aboutUs.html" rel="noopener noreferrer" target="_parent">Sobre nosotros</a>
    <a href="">Aviso legal</a>
    <a href="">Privacidad</a>
  </div>
</footer>
