<div class="welcomingButtons">
  <div class="welcomingButton">
    <a href="">
      <img src="https://api.iconify.design/ant-design/tag-filled.svg">
      <u>Ofertas</u>
    </a>
  </div>
  <div class="welcomingButton">
    <a href="">
      <img src="https://api.iconify.design/ep/present.svg">
      <u>Promociones</u>
    </a>
  </div>
  <div class="welcomingButton">
    <a href="">
      <img src="https://api.iconify.design/icon-park/men-jacket.svg">
      <u>Moda</u>
    </a>
  </div>
  <div class="welcomingButton">
    <a href="">
      <img src="https://api.iconify.design/bx/recycle.svg">
      <u>Segunda mano</u>
    </a>
  </div>
</div>
