<h1>Categorías más relevantes</h1>
<div class="trendingCategories">
  <a class="category" href="productsOfCategory.html?url=data/headphones.json">
    <img src="https://api.iconify.design/bi/headphones.svg">
    <u>Auriculares</u>
  </a>
  <a class="category" href="productsOfCategory.html?url=data/laptops.json">
    <img src="https://api.iconify.design/bi/laptop.svg">
    <u>Portátiles</u>
  </a>
  <a class="category" href="productsOfCategory.html?url=data/furniture.json">
    <img src="https://api.iconify.design/map/furniture-store.svg">
    <u>Muebles</u>
  </a>
  <a class="category" href="productsOfCategory.html?url=data/sport.json">
    <img src="https://api.iconify.design/bx/football.svg">
    <u>Deporte</u>
  </a>
  <a class="category" href="productsOfCategory.html?url=data/phones.json">
    <img src="https://api.iconify.design/bi/phone.svg">
    <u>Móviles</u>
  </a>
  <a class="category" href="productsOfCategory.html?url=data/videoGames.json">
    <img src="https://api.iconify.design/bi/controller.svg">
    <u>Videojuegos</u>
  </a>
  <a class="category" href="productsOfCategory.html?url=data/clothing.json">
    <img src="https://api.iconify.design/icon-park/men-jacket.svg">
    <u>Ropa</u>
  </a>
</div>
