<nav>
  <img id="multipleChoiceButton" alt="MultipleChoiceButton" [src]=multipleChoiceButtonUrl >
  <a href="index.html" target="_parent">
    <img alt="Logo" id="logo" [src]=logoUrl>
  </a>
  <input class="searchBar" placeholder="Search..." type="search">

  <a href="" id="glass">
    <img alt="MagnifyingGlass" class="buttonWithIcon" [src]=magnifyingGlassUrl>
  </a>
  <a href="">
    <img alt="User" class="buttonWithIcon" [src]=userIconUrl>
  </a>
  <a href="Cart.html" target="_parent">
    <img alt="Cart" class="buttonWithIcon" [src]=cartUrl>
  </a>
  <a class="logInButton" href="login.html" target="_parent">Log in</a>
  <a class="signUpButton" href="signUp.html" target="_parent">Sign up</a>
</nav>
